#head_back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
    width: 100%;
    height: 28%;
}

#h_icon {
    z-index: 1;
    width: 13%;
    height: 13%;
    margin-left: 0.5em;
}

#intro {
    padding-top: 2em;
    font-size: 1.1em;
    line-height: 1.8;
    color: black;
    margin-top: 1em;
    z-index: 2;
    text-align: justify;
    padding-right: 15em;
    text-indent: 2em;
    padding-left: 10em;
}

#intro_img {
    margin-right: 4em;
    padding-left: 5em;
    float: left;
    width: 20%;
    height: 20%;
    margin-bottom: 1em;
}

.description {
    padding-top: 1em;
    padding-right: 3em;
    margin-left: 2.2em;
    font-size: 1.1em;
    line-height: 1.8;
    color: black;
    margin-top: 1em;
    z-index: 3;
    text-align: justify;
}

#foot_back {
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 24%;
    right: 0em;
    left: 0em;
}


.bottom {
    transition: all 0.2s;
    width: 5%;
    height: 5%;
    z-index: 99;
    margin-top: 3em;
    padding-right: 2em;
}

.bottom:hover {
    transform: scale(1.1, 1.1);
}

#describe {}